<div class="col mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-8 col-md-6 mt-4">
                            <h3 class="mb-0 text-truncated">Nom&Prenom </h3>
                            <p class="lead">Journaliste</p>
                            <p>Journaliste@gmail.com</p> 
                           <a href="#"><img src="https://img.icons8.com/color/50/000000/linkedin.png"></a>
                           <a href="#"><img src="https://img.icons8.com/color/50/000000/facebook.png"></a>
                           <a href="#"><img src="https://img.icons8.com/color/50/000000/google-plus.png"></a>                          
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 text-center">
                            <img src="assets/img/profile.jpg" alt="" class="mx-auto rounded-circle img-fluid">
                            <br>                           
                        </div>
                        <!--/col-->
                    </div>
                    <!--/row-->
                </div>
                <!--/card-block-->
            </div>
</div>

<h1 class="mt-4">les articles </h1>
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <img src="assets/img/img1.jpg" class="card-img-top" alt="benjamin">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    <a routerLink="/details"><small>reed more..</small></a><br>
                    <small class="journaliste text-muted"><a href="/detail-journaliste">NomJournalist</a></small><br>
                    <small class="text-muted">10/02/2020</small>
                </p>   
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="assets/img/img2.jpg" class="card-img-top" alt="benjamin">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    <a href="#" ><small>reed more..</small></a><br>
                    <small class="journaliste text-muted"><a href="/detail-journaliste">NomJournalist</a></small><br>
                    <small class="text-muted">10/02/2020</small>
                </p>   
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="card">
            <img src="assets/img/img3.jpg" class="card-img-top" alt="benjamin">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    <a href="#" ><small>reed more..</small></a><br>
                    <small class="journaliste text-muted"><a href="/detail-journaliste">NomJournalist</a></small><br>
                    <small class="text-muted">10/02/2020</small>
                </p>   
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="assets/img/img4.jpg" class="card-img-top" alt="benjamin">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    <a href="#" ><small>reed more..</small></a><br>
                    <small class="journaliste text-muted"><a href="/detail-journaliste">NomJournalist</a></small><br>
                    <small class="text-muted">10/02/2020</small>
                </p>   
            </div>
        </div>
    </div>
</div>

