 <div class="col mt-4">
     <h2>Les larves de poissons confondent leurs proies avec des débris plastiques</h2>
     <iframe width="700" height="315" src="https://www.youtube.com/embed/3FrW8vMl9Fg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
     <p>Le plastique est un des plus grands fléaux de la pollution marine. Avec plus de 8 millions de tonnes de détritus plastiques rejoignant chaque année les océans, l’accumulation de ces déchets sature le milieu naturel. Depuis plus de 20 ans les scientifiques tentent d’alerter l’opinion publique fasse 
         à l’ampleur de cette pollution, permettant ainsi une prise de conscience collective.
        Nous avons tous été horrifiés par l’exemple de ces photos d’estomacs de baleines échouées
         ou d’oiseaux marins contenant des sacs plastiques, des bouchons de bouteilles, etc. ;
          ou encore cette photo d’une tortue dont sa carapace, prise au piège dans un sac plastique,
           se développe en forme de sablier. Ces macroplastiques (dont la taille est supérieure à 25 millimètres) ne sont malheureusement que la partie visible de l’iceberg. En effet, il existe deux autres catégories de plastiques issus de la dégradation des macroplastiques : les microplastiques 
        (entre 5 millimètres et 1 nanomètre) et les nanoplastiques (inférieurs à un nanomètre).</p>
        <img src="assets/img/img1.jpg" class="card-img-top" alt="benjamin" width="300px">
        <p>Les impacts de ces microplastiques sur les organismes vivant dans les fleuves, les mers et les océans sont encore mal connus et font l’objet de nombreuses recherches dans le monde entier. Un grand nombre d’études se sont portées sur l’ingestion de microplastiques par des poissons adultes. Selon les régions du globe, 
            la présence de plastiques dans les estomacs de poissons peut atteindre 95 % des poissons étudiés.
            Néanmoins, la vie des poissons ne se limite pas à leur vie d’adulte ! Une équipe de scientifiques a donc cherché à savoir si les poissons étaient en contact des microplastiques dès leur plus jeune âge.
           <br>
           <b>Quel impact pour les jeunes poissons ?</b>
            Durant leurs premiers jours de vie, les poissons, ne mesurent que quelques millimètres et passent le plus clair de leur temps dans la zone pélagique (c’est-à-dire les parties autres que les côtes ou le fond marin) et notamment dans des nappes de surface (courants calmes de surface).
             Ces très jeunes poissons (ou plus communément appelées larves) sont très vulnérables, et leur survie dépend notamment de la disponibilité de la nourriture.</p>
 </div>
  